# Python virtual environment
.venv/
venv/
ENV/

# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Project specific
my_pdfs/*
!my_pdfs/.gitkeep
output/*
!output/.gitkeep

# Logs
*.log