google-generativeai
PyMuPDF
pandas
python-dotenv
tk  # Para el selector de carpetas (generalmente viene incluido con Python)
pyinstaller  # Para crear el ejecutable
Pillow  # Para generar/convertir iconos